*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

.header{
    text-align: center;
    padding: 25px;
    height: 15vh;
    width: 100%;
}

h1{
    font-weight: 500;
}

h3{
    font-weight: 300;
}

.parent{
    padding: 10px;
    margin-left: 30px;
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b c d"
    "e f . ."
    ;

}

div p{
    text-align: center;
}

.productName{
    font-weight: 500;
    font-size: 14px;
}

.productDesc{
    font-weight: 300;
    font-size: 12px;
}

.productPrice{
    font-weight: 400;
    font-size: 12px;
}


img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.child{
    border: 1px solid grey;
    height: 250px;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
}

.child-a{
    grid-area: a;
}
.child-b{
    grid-area: b;
}
.child-c{
    grid-area: c;
}
.child-d{
    grid-area: d;
}
.child-e{
    grid-area: e;
}
.child-f{
    grid-area: f;
}

footer{
    height: 10vh;
    width: 100%;
    padding: 30px;
}

footer p{
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}



@media (max-width: 450px){

    .parent{
        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
        }

      .header{
    text-align: center;
    }  
}

